
  body {
    margin: 0;
    padding: 0;
  }
  .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .content {
    height: '217px';
    width: 400px;
    
  
    /* font-size: 24px;
    line-height: 100px; 
    text-align: center;
    background-color: grey;
    margin: 5px; */


  }

  .loadMore{
    background-color:  rgb(202, 53, 53);;
    color:floralwhite;
    text-align: center;
    justify-content: center;
    padding: 10px;
    font-weight: bold;
    border:'1px solid rgb(202, 53, 53);';
   
  }
  .contentTitle {
    height: 80px;
    width: 340px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px!important;
    
    color: black;
    /* font-size: 24px;
    line-height: 100px; 
    text-align: center;
    background-color: grey;
    margin: 5px; */
   

  }
 